.Radio ::selection {
  background: transparent;
}

.Radio input[type="radio"]{
  display: none;
}

.Radio-option{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80px;
  color: var(--white);
  text-decoration: none;
  border: 0 none;
  align-items: center;
  cursor: pointer;
}

.Radio-option:hover,
.Radio-option:focus {
  opacity: 0.7;
  outline: none;
}

.Radio-option-title {
  font-weight: 800;
  line-height: 40px;
  font-size: 36px;
  text-align: center;
  position: relative;
  margin: auto 10vw;
  text-transform: uppercase;
}

.Radio-option-subTitle {
  position: absolute;
  top: 40px;
  opacity: 0.6;
  font-weight: 500;
  line-height: 15px;
  font-size: 11px;
  width: 100%;
  text-transform: none;
}

.Radio-option--colorBlue {
  background: var(--blue);
}

.Radio-option--colorGreen {
  background: var(--green);
}

.Radio-option--colorMagenta {
  background: var(--magenta);
}

.Radio-option--colorRed {
  background: var(--red);
}

.Radio-option--colorBlack {
  background: var(--black);
}

.Radio-option.checked {
  background: #fff;
}


.checked.Radio-option--colorBlue {
  color: var(--blue);
}

.checked.Radio-option--colorGreen {
  color: var(--green);
}

.checked.Radio-option--colorMagenta {
  color: var(--magenta);
}

.checked.Radio-option--colorRed {
  color: var(--red);
}

.checked.Radio-option--colorBlack {
  color: var(--black);
}

.Radio-option--small .Radio-option-title {
  font-size: 24px;
}
