.RoundButton {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: var(--white);
}

.RoundButton--sizeSmall {
  width: 40px;
  height: 40px;
}

.RoundButton-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.RoundButton--colorRed {
  background: var(--red);
}

.RoundButton--colorGreen {
  background: var(--green);
}

.RoundButton--colorBlue {
  background: var(--blue);
}

.RoundButton--colorMagenta {
  background: var(--magenta);
}

.RoundButton--colorBlack {
  background: var(--black);
}

.RoundButton--colorWhite {
  background: var(--white);
  color: var(--black);
}

.RoundButton--styleGhost {
  background: transparent;
}
