.mainMenu{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.appName{
    height: 15vh;
    background: var(--magenta);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuNav{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    align-items: center;
}

.menuNav_item{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--white);
    text-decoration: none;
}

.menuNav_item:hover, .menuNav_item:focus{
    opacity: 0.7;
    outline: none;
}

.menuNav_item_title{
    font-weight: 800;
    line-height: 40px;
    font-size: 36px;
    text-align: center;
    position: relative;
    margin: auto 10vw;
    text-transform: uppercase;
}

.menuNav_item_subTitle{
    position: absolute;
    top: 40px;
    opacity: 0.6;
    font-weight: 500;
    line-height: 15px;
    font-size: 11px;
    width: 100%;
    text-transform: none;
}

.menuNav_item:nth-child(odd){
    background: red;
}

.menuNav_item:nth-child(even){
    background: blue;
}

.menuNav_item:nth-child(1){
    background: var(--blue);
}

.menuNav_item:nth-child(2){
    background: var(--green);
}

.menuNav_item:nth-child(3){
    background: var(--magenta);
}

.menuNav_item:nth-child(4){
    background: var(--red);
}

.menuNav_item:nth-child(5){
    background: var(--black);
}

