:root {
  --blue: #31AFF6;
  --green: #31F68C;
  --magenta: #9431F6;
  --red: #F63155;

  --black: #000;
  --white: #fff;
}

h1, h2{
  font: inherit;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

.App {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
}


::selection{
  background: none;
  color: inherit;
}
